#imagePad
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#imagePad td, #imagePad th 
{
font-size:1.2em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#imagePad th 
{
font-size:1.4em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#fff;
}
#imagePad tr.alt td 
{
color:#fff;
background-color:#EAF2D3;
}
.selected
{
background-color:#EAF2D3;
}
