/*upper blocks*/
#align_menu *{
 font-size:24px;
 color:#0000be;/**/
 padding: 0;
 display: inline-block;
 margin: 3px 3px 3px 3px;
}
#align_menu button{
 height:30px;
 width:40px;
 transition-duration: .2s;
 border: 2px solid red;/**/
 border-radius: 5px;
}
#align_mode{
 color:red;
}
#align_flag1:checked ~ #align_openbtn{
 width:40px !important;
 font-size:24px !important;
}
#align_flag1:checked ~ #align_mode{
 transform: translateX(-43px) translateY(33px);
 transition-duration: .2s;
}
#align_flag1:checked ~ #align_undoalign{
 transform: translateX(0px) translateY(33px);
 transition-duration: .2s;
}
#align_flag1:checked ~ #align_setting{
 transform: translateX(43px) translateY(33px);
 transition-duration: .2s;
}
/*Add more options here*/

/*sliders*/
#align_sliders{
 display: none;
 background-color:#ffffff4d;/**/
 transform: translateX(43px) translateY(66px);
}
#align_sliders *{
 color:rgb(7, 198, 145);/**/
 font-size: 12px;
}
#align_sliders input{
 background:	#0395fc;/**/
 border: solid 1px #5555FF;/**/
 border-radius: 8px;
 height: 7px;
 outline: none;
 -webkit-appearance: none;
}
#align_flag2:checked ~ #align_sliders{
   display: block;
}
