core/openseadragon/*.js
core/openseadragonzoomlevels.js
core/openseadragonzoomlevels.BAK.js
core/openseadragon-scalebar.js
core/openseadragon-scalebar.BAK.js
core/openseadragon-imaginghelper.min.js
core/openseadragon-imaginghelper.min.BAK.js
apps/landing/skel.min.js
apps/landing/util.js
apps/landing/jquery.dropotron.min.js
apps/landing/jquery.min.js
apps/landing/jquery.scrollex.min.js
apps/segment/opencv.js
common/bootstrap-tour-standalone/bootstrap-tour-standalone.min.js
