
.search-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.text-in-line {
  margin: 0;
  color: #5d5d5d;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has-search .form-control {
  padding-left: 2.375rem;
}


/* custom tips  */
 .bs-tooltip-top .arrow::before {
  /* top: -1;
  border-width: .5rem .5rem 0; */
  border-top-color: #5d5d5d;
}
.bs-tooltip-bottom .arrow::before {
  /* bottom: -1;
  border-width: 0 .5rem .5rem; */
  border-bottom-color: #5d5d5d;
}
.bs-tooltip-right .arrow::before {
  /* right: -1;
  border-width: .5rem .5rem 0 .5rem; */
  border-right-color: #5d5d5d;
}
.bs-tooltip-left .arrow::before {
  /* left: -1;
  border-width: .5rem 0 .5rem 0.5rem; */
  border-left-color: #5d5d5d;
} 

.tooltip .tooltip-inner {
  font-size: .8rem;
  background-color: #5d5d5d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-h-100 { height:100vh }
.tree-view, .table-view {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
}
.table-view {
  padding: 2rem;
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 576.98px) {
  .tree-view, .table-view {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .row-h-100 {
    height: fit-content;
  } 
}

.breadcrumb {
  /* background-color: transparent; */
  padding: .75rem 1rem;
}

#col-path {
  margin: 0;
  padding-bottom: .2rem;
  font-weight: normal;
  font-size: .9rem;
}
.breadcrumb-item.active {
  color: #007bff;
  /* font-size: 1rem; */
  font-weight: bold;
}
.breadcrumb-item {
  color: #007bff;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-weight: normal;
  color: #007bff;
  font-size: 1rem;
  content: ">";
}









