
.search-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.text-in-line {
  margin: 0;
  color: #5d5d5d;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

nav li{
	transition: background 0.5s;
	border-radius: 3px;
}
nav li:not(:first-child){
	margin-left: 0.3em !important;
}
nav li:not(.active):hover{
	background: white;
}
nav li:not(.active):hover a{
	color: black !important;
}
.nav-item.active{
	background: white;
}
.active a.nav-link{
	color: black !important;
}


/* custom tips  */
 .bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #5d5d5d;
}
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #5d5d5d;
}
.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #5d5d5d;
}
.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #5d5d5d;
} 

.tooltip .tooltip-inner {
  margin-top: 1.125rem;
  font-size: .8rem;
  background-color: #5d5d5d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h-fit { 
  height: calc(100vh - 56px);
  overflow: hidden;
}
.tree-view, .table-view {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
}
.table-view {
  padding: 2rem;
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .tree-view, .table-view {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .h-fit {
    height: fit-content;
  }
}

.breadcrumb {
  /* background-color: transparent; */
  padding: .75rem 1rem;
}

#col-path {
  margin: 0;
  padding-bottom: .2rem;
  font-weight: normal;
  font-size: .9rem;
}
.breadcrumb-item.active {
  color: #007bff;
  /* font-size: 1rem; */
  font-weight: bold;
}
.breadcrumb-item {
  color: #007bff;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-weight: normal;
  color: #007bff;
  font-size: 1rem;
  content: ">";
}









