#crossMenuWrapper.none {
    display: none;
}

#crossMenuWrapper.display {
    position: absolute;
    display: grid;
    grid-template-rows: 3vh 1fr;
    width: 58vw;
    /* height: 70vh; */
    max-height: 80vh;
    overflow-y: auto;
    top: 10vh;
    left: 21vw;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(54, 95, 156);
}

.crossMenuContainer {
    padding-top: 2vh;
    padding-bottom: 4vh;
}

#crossMenuTitleBar{
    background-color: rgb(54, 95, 156);
    color: rgb(236 236 236);
    display: grid;
    grid-template-columns: 28fr 1fr;
    font-size: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.4rem;
    font-family: sans-serif;
    font-weight: 900;
}
#crossMenuTitleBar > .crossMenuHead {
    text-align: center;
    margin: auto;
    font-variant: all-small-caps;
}
#crossMenuTable{
    height: calc(68vh - 20rem);
    width: 50vw;
    margin: auto;
    overflow: auto;
}
#crossMenuDatatable{
    width: 48vw;
    font-family: sans-serif;
    font-size: 1.6rem;
    text-align: left;
    border-collapse: collapse;
    margin-top: 2vh;
}
#crossMenuTbody > tr:nth-child(odd) {
    background-color: rgb(236 236 236);
}
#crossMenuTbody > tr > td,
#crossMenuThead > tr > th {
    padding: 0.5rem 0.7rem;
    min-width: fit-content;
}
#crossMenuThead > tr > th{
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-bottom-width: 1.5px;
}
.crossMenuBtn{
    background-color: rgba(0,0,0,0);
    font-family: sans-serif;
    font-size: 1.6rem;
    padding: 0.4rem 0.8rem;
    color: rgb(54, 95, 156);
    border: none;
}
#crossMenuTfoot{
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-top-width: 1.5px;
}
.crossMenuSearchBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    padding-right: 2vw;
    margin: auto;
}
.crossMenuSearch{
    text-align: right;
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
}
.crossMenuSearch > span {
    position: absolute;
    font-size: 1.9rem;
    line-height: 2.8rem;
    color: rgb(158 158 158);
}
.crossMenuSearch > input {
    font-size: 1.3rem;
    padding: 0.5rem;
    padding-left: 2.8rem;
    margin-left: -0.5rem;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}
#crossMenuSearchTable:focus {
    box-shadow: 0 0 5px rgb(54, 95, 156);
    border: 1px solid rgb(54, 95, 156);
}
.crossMenuNoData {
    color: black;
    margin: auto;
    font-size: 1.8rem;
    font-family: sans-serif;
}
.crossMenuContainer > #crossMenuFiltersHeading {
    width: 94%;
    margin: auto;
}
.crossMenuContainer > #crossMenuFiltersCheck {
    width: 94%;
    margin: auto;
}
.crossMenuContainer > #crossMenuFiltersHeading > h5 {
    margin: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-variant: petite-caps;
}
.crossMenuContainer > #crossMenuFiltersCheck {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    max-height: calc(8rem);
    overflow-y: auto;
}
.crossMenuFilterCheck{
    padding: 1rem;
}
.crossMenuSelect {
    margin-bottom: 1vh;
    padding-left: 2rem;
}
.crossMenuSelect > select {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
}
#crossMenuEntries:focus{
    box-shadow: 0 0 5px rgb(54, 95, 156);
    border: 1px solid rgb(54, 95, 156);
}
.crossMenuPageItem{
    cursor: pointer;
}
.crossMenuPageLink{
    position: relative;
    display: block;
    color: rgb(54, 95, 156);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: .6rem 1.2rem;
    font-size: 1.6rem;
}
.crossMenuPageLink:hover{
    background-color: rgb(236 236 236);
    color: black;
}
.crossMenuPageItem.pages.active .crossMenuPageLink{
    background-color: rgb(54, 95, 156);
    color: white;
}
.crossMenuPagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center !important;
    flex-wrap: wrap;
}