#parent1{	
	overflow: scroll;
	height: 600px;
	border: 3px solid black;
}	
#parent2{
	height: 600px;
	border: 3px solid black;
	padding: 0px;
}
#buttons-division{
	border: 3px solid black;
	background-color: rgb(230,229,171);
}
#box {
  height: 30px;
  width: 30px;
  
  border: 2px solid black;
  background-color: white;
}
.even{
	background-color: #66B2FF;
}
.odd{
	background-color: #DE0604;
}
body{
    background-color: white !important;
	line-height: 0px;
}
#wsi_view{
		height: 849px;
		border: 3px solid black;
		padding: 0px;
}