#canvasContainer {
    background-color: rgb(255, 253, 253); /* 背景色を設定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#myChart {
    background-color: rgb(255, 253, 253); /* 背景色を設定 */
    display: flex;
    justify-content: center;
    align-items: center;
}