.ml-assistant * {
	padding:0;
	margin:0;
	color:#365f9c;
}

ul.model-tools {
    padding: 0;
    margin: 0;
    height: 2.4rem;
    border-radius: 0.5rem;
    border: solid #365f9c 0.2rem;
    background-color: #365f9c;
    width: 94%;
    margin: 10px 2%;
    display: flex;
    justify-content: space-around;
}

ul.model-tools > li {
    cursor: pointer;
    height: 100%;
    width: 2.4rem;
    float: left;
    margin-left: 0.2rem;
    list-style: none;
    color: #365f9c;
    background-color: #fff;
    /*opacity: 0.5;*/
}

ul.model-tools > li > input {
    display: none;
    /*   position: absolute;
    font-size: 0;
    left: -100%; */
}

ul.model-tools > li > input[type="checkbox"]:checked + label {
    background-color: #365f9c;
    color: #fff;
    /*box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);*/
}

ul.model-tools > li > input[type="checkbox"] + label:hover {
    opacity: 1;
}

/* ------------- */

ul.ml_drop_down {
    width: 2.4rem;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    display: none;
}

ul.model-tools > li:hover ul.ml_drop_down {
    flex-direction: column;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
}

ul.ml_drop_down li {
    cursor: pointer;
    /* width: 2.4rem;
    height: 2.4rem; */
    /*border-radius:.5rem .5rem .5rem .5rem;*/
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 0.2rem 0 rgba(0, 0, 0, 0.19);
    padding: 3px 0 0 0;
    margin: 0;
    color: #365f9c;
    background-color: #fff;
    opacity: 1;
    position: relative;
    z-index: 100;
}
ul.ml_drop_down li.text {
    height: 100%;
}

ul.ml_drop_down > li > input[type="radio"] {
    display: none;
    /*   position: absolute;
    font-size: 0;
    left: -100%; */
}

li > input[type="radio"] + label div,
li > input[type="radio"] + label {
    cursor: pointer;
}
li > input[type="radio"]:checked + label div,
li > input[type="radio"]:checked + label {
    cursor: pointer;
    color: #fff;
    background-color: #365f9c;
    /*border-radius:.5rem .5rem .5rem .5rem;*/
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 0.2rem 0 rgba(0, 0, 0, 0.19);
}
li > input[type="radio"]:checked + label div,
li > input[type="radio"]:checked + label,
li > input[type="radio"] + label div,
li > input[type="radio"] + label {
    display: flex;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    margin: 0 auto;
    /* padding: 0 2px; */
    /* height:2.4rem; */
}
li > input[type="radio"]:checked + label div,
li > input[type="radio"] + label div {
    padding: 0 2px;
}

.model-tools li {
    list-style: none;
}

li.text > input[type="radio"] + label div {
    font-weight: bold;
}

.ml-assistant > .btn {
    padding: 0.2rem 1rem;
    width: 96%;
    margin: 2%;
}

.ml-assistant div.annotate-checklist {
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-justify-content: unset;
    -webkit-flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-bottom: .5rem;
    margin: 10px 0;
}

.ml-assistant div.annotate-checklist > label {
    font-size: 1.2rem;
    margin: .3rem;
}

.annotate-setting > div {
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.annotate-setting > div * {
    display: inline-block;
}

.annotate-setting > div pre {
    font-size: 12px;
    width: 35%;
    display: inherit;
    align-items: center;
    margin-left: 5px;
}

.annotate-setting > div input {
    height: 15px;
    width: 45%;
}

.annotate-setting > div span {
    font-size: 12px;
    width: 10%;
    display: inherit;
    align-items: center;
    margin-left: 5px;
}

.form-style{
    /* color: #464544; */
    color: #57300a;
    font-size: 14px;
    max-width:400px;
    margin:10px auto;
    background:#fff;
    border-radius:2px;
    padding:10px;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
}
.form-style #mg{
    margin-top: 20px;
    text-align: center;
}
.form-style ul{
    list-style:none;
    padding:0;
    margin:0;
}
.form-style li{
    display: block;
    padding: 5px;
    border:1px solid #DDDDDD;
    margin-bottom: 20px;
    border-radius: 3px;
}
.form-style li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #464544;
    font-size: 14px;
    overflow: hidden;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="number"],
.form-style input[type="url"],
.form-style textarea,
.form-style select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: 1px solid black;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
}
.form-style li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: rgb(104, 94, 94);
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 11px;
}
.form-style textarea{
    resize:none;
}
.form-style input[type="submit"],
.form-style input[type="button"]{
    background: #2147FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}
#upload_panel .modalbox-content{
    width: 30%;
}
.form-style [type=url]:focus,
.form-style input[type=text]:focus,
.form-style input[type=number]:focus
{
    background-color: #ddd;
    outline: none;
    border:2px;
    border-style: solid;
}
.form-style #modelupload,
.form-style #weightsupload{
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 26px;
    border: 1px solid black;
}

.switch input {display:none;}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #365F9C;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(106px);
    -ms-transform: translateX(26px);
    transform: translateX(106px);
}

.slider:after
{
    content:'Upload';
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 54%;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
    content:'Link';
    left: 35%;
}

.checktrue {
    display: none;
}
#mtable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
#mtable thead th:nth-child(1) {
    width: 15%;
}

#mtable thead th:nth-child(2) {
    width: 30%;
}

#mtable thead th:nth-child(3) {
    width: 15%;
}

#mtable thead th:nth-child(4) {
    width: 15%;
}

#mtable thead th:nth-child(4) {
    width: 25%;
}

th {
    padding: 5px;
}

td {
    padding: 10px;
    text-align: center;
}

thead, tfoot {
    background: #d5dbe5;
}

.btn-del{
    background-color: red;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
}

.processed-image, .model-predict-image {
    /* display: none; */
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.processed-image-container, .model-predict-image-container {
    width: 90%;
    height: 70%;
    margin: 10px;
    border: 1px solid rgb(150, 142, 255);
    border-radius: 6px;
    justify-content: center;
    display: flex;
}

.img-label {
    width: 95%;
    height: 15px;
    font-size: 12px;
    font-weight: 700;
}