html,
	body {
		width: 100%;
		height: 100%;
		min-height: 100%;
		font-family: Arial, Helvetica, sans-serif;
	}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
.header {
	margin-top: 60px;
}
table.dataTable.no-footer {
    border-bottom: none;
}
.bg-dark {
	background-color: #343a40 !important;
}
.bg-info {
    background-color: #17a2b8!important;
}

nav li{
	transition: background 0.5s;
	border-radius: 3px;
}
nav li:not(:first-child){
	margin-left: 0.3em !important;
}
nav li:not(.active):hover{
	background: white;
}
nav li:not(.active):hover a{
	color: black !important;
}
.nav-item.active{
	background: white;
}
.active a.nav-link{
	color: black !important;
}

.h-fit { 
  /* height: calc(100vh - 128px); */
  padding: 2rem;
}

#recordMessage {
  font-size: 1rem;
  padding: .25rem .5rem;
  font-size: .875rem;
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .2rem;
  width: fit-content;
  block-size: fit-content;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .tree-view, .table-view {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .h-fit {
      height: fit-content;
    }

    .table-view {
        padding: 2rem;
    }
}


  label.ctrl-label {
    display: flex;
    align-items: center;
    color:#0d6efd;
    font-size: .875rem;
  

  }
  label.ctrl-label input,
  label.ctrl-label select {
    width: auto;
    margin: 0 .25rem;
    color:#0d6efd;
    font-size: .875rem;    
  }


  .loader {
    border: .3rem solid #b5b5b5;
    border-top: .3rem solid #181818;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .grid-view .inner-grid-view .grid-card .rank-dropdown{
    /* z-index: 10; */
    margin: .25rem;
    position:absolute;
    top:0;
    right:0;
  }

  .grid-view .inner-grid-view .grid-card .indicator {
    margin: .25rem;
    font-size: 1.5rem;
    position:absolute;
    top:0;
    left:0;
    height: 25px;
    width: 25px;
    line-height:0;
    display: flex;
    align-items: center;
    justify-content: center;    
  }



  .bullet {
    font-size: 1rem;
    padding: .75rem;
  }

  .text-blue {
    color: #0000ff;
  }
  .text-red {
    color: #ff0000;
  }
