@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300");



 /* This codes styles the dark mode the light/mode icon  */


 #toggle-icon{
    position: fixed;
     right: 3%;	
     top:2.4%;
     z-index: 999999;
    
   } 
  
    #toggle-icon.fa-moon {
    color: #808080;
    cursor: pointer;
    background-color: #4a719b;
    border-radius: 50%;
    padding: 0.4rem;
  

  }
  
  #toggle-icon.fa-sun {
    color: rgb(190, 190, 44);
    cursor: pointer;
    background-color: #4a719b;
    border-radius: 50%;
    padding: 0.4rem;

  
  }
  
  .dark-mode {
    background-color:  #212529;
    color: white;
  }
  
  .darkmovenav{
    background-color: black !important ;
   }
  
  .p-color {
    color: white;
  }
  
  .h2-color,
  .h3-color {
    color: rgb(173, 191, 214);
  }
  
  a.button.content-buttoncolor {
    color: white;
    border:0.4px solid white;
  
  }
  
  .bg-whiteslide{
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  }
  
  .modal-content-dark{
    background-color:  #212529 !important;
  }
  