#headbar {
  background: rgb(23, 162, 184);
  align-items: center;
  text-align: center;
  color: white;
}
.btn {
  text-transform: unset !important;
}

.add:hover {
  background: rgba(153, 218, 2, 0.87);
}
.add {
  transition: 0.35s;
  background: rgba(84, 221, 191, 0.644);
  cursor: pointer;
}
#layersEditor input{
  margin-bottom: 1em;
}