html,
	body {
		width: 100%;
		height: 100%;
		min-height: 100%;
		font-family: Arial, Helvetica, sans-serif;
	}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
.header {
	margin-top: 60px;
}

.bg-dark {
	background-color: #343a40 !important;
}
.bg-info {
    background-color: #17a2b8!important;
}

nav li{
	transition: background 0.5s;
	border-radius: 3px;
}
nav li:not(:first-child){
	margin-left: 0.3em !important;
}
nav li:not(.active):hover{
	background: white;
}
nav li:not(.active):hover a{
	color: black !important;
}
.nav-item.active{
	background: white;
}
.active a.nav-link{
	color: black !important;
}

.h-fit { 
  height: calc(100vh - 64px);
  overflow: hidden;
}

.tree-view, .main-view {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
}
.main-view {
  padding: 4rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  
}

#main-view-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#main-view-breadcrumb {
  width: fit-content;
}
.grid-view {
  overflow-y: auto;
  box-sizing: border-box;

  border-radius: .2rem;
  border: 1px solid #dee2e6; 
}
.inner-grid-view {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;

}
.grid-card {
    width: 256px;
    height: 256px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: .5rem;
    background: #d3d3d3;
    overflow: hidden;
    position: relative;
    border-radius: .25rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;    

}

.grid-card-title {
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    color: #dfdfdf;
    width: 100%;
    padding: .25rem .75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.grid-card:hover {
  box-shadow: 0 4px 8px 0 rgba(107, 72, 72, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

#recordMessage {
  font-size: 1rem;
  padding: .25rem .5rem;
  font-size: .875rem;
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .2rem;
  width: fit-content;
  block-size: fit-content;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .tree-view, .table-view {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .h-fit {
      height: fit-content;
    }

    .table-view {
        padding: 2rem;
    }
}


  label.ctrl-label {
    display: flex;
    align-items: center;
    color:#0d6efd;
    font-size: .875rem;
  

  }
  label.ctrl-label input,
  label.ctrl-label select {
    width: auto;
    margin: 0 .25rem;
    color:#0d6efd;
    font-size: .875rem;    
  }


  .loader {
    border: .3rem solid #b5b5b5;
    border-top: .3rem solid #181818;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }