#headbar {
  background: rgb(23, 162, 184);
  align-items: center;
  text-align: center;
  color: white;
}

.step-content {
  border-radius: 10px;
}

#stepper {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  text-transform: unset !important;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  margin-right: 10rem !important;
}

/* All display none */
#importFile,
#headContent,
#headSub,
#secondStepButton,
#cards,
#filterLabels,
#labelsDatasetZip,
#selectResolution,
#labelsSubmitLoading,
#labelsSubmitFinish,
#toastPlaceholder {
  display: none;
}

#goBack {
  display: flex;
  margin: 0 1rem;
}
.dropdown-menu {
  overflow-y: auto;
  max-height: 300px; /* Adjust max height as needed */
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    right: 0; /* Position the dropdown menu at the right edge of its container */
    left: auto; /* Reset the left property */
  }
}

@media only screen and (max-width: 551px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
