html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
.header {
	margin-top: 60px;
}
.bg-dark {
	background-color: #343a40 !important;
}
.bg-info {
    background-color: #17a2b8!important;
}
.page-container{
	height:100vh;	
	display: flex;
	flex-direction:column;
	justify-content: space-between;
  }

.sort-btn
{
  cursor: pointer;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#detailtable{
	margin:auto;
	text-align: left;

}
#detailtable th{
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right;
	border-right-style: double;
}
#detailtable td{
	padding: 6px;
	padding-left: 15px;
	padding-left: 15px;
	text-align: left;
}
#annotationtable, #heatmaptable{
	margin: auto;
	text-align: left;
	border-collapse: collapse;
  width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #0c5460;
}
#annotationtable th,#heatmaptable th{
	border: 1px solid #0c5460;
 	padding: 8px;
	padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #0c5460;
	padding-left: 12px;
  color: white;
}
#annotationtable td, #heatmaptable td{
	/* border: 1px solid #0c5460; */
 padding: 8px;
 padding-left: 12px;
 font-style: italic;
}
#annotationtable tr:nth-child(even), #heatmaptable tr:nth-child(even){
	background: #b9e2e8;
}
#annotationtable tr:hover, #heatmaptable tr:hover{
	background: #9cc7ce;
}
.p{
	margin-bottom: 0;
}

