.link{
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
	color: #5e6875;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: currentcolor;
	text-decoration-thickness: auto;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
}