.link{
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-size: 0.99em;
	font-weight: bold;
	color: #5e6875;
	text-decoration:none;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
	margin-top: 0.2rem;
	font-family: "Open Sans", Helvetica, sans-serif;
	line-height: 1.8;
}
#entries {
	cursor: pointer;
}
.page-item {
	cursor: pointer;
}

nav li{
	transition: background 0.5s; 
	border-radius: 3px;
}
nav li:not(:first-child){
	margin-left: 0.3em !important;
}
nav li:not(.active):hover{
	background: white;
}
nav li:not(.active):hover a{
	color: black !important;
}
.active{
	background: white;
}
.active a{
	color: black !important;
}

#deleteBtn{
	margin-left: 0.6em;
}
#deleteBtn i{
	color: white;
}
#open-delete{
	display: inline-flex;
}