/*segmentpanel.css*/
.segment-panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border: 1px yellow solid;
  color:black;
  cursor: default;
  z-index:300;
  /*border:2px red solid;*/
}

.segment-panel .settings {
  font-size: 19px;
  position: absolute;
  border: 1px solid black;
  background: white;
}

#close {
  position: absolute;
  top: -22px;
  left: 0;
}

#save {
  position: absolute;
  top:-22px;
  left:20px;
}

#savecsv {
  position: absolute;
  top: -22px;
  left: 40px;
}

#thresh {
  position: absolute;
  top: -22px;
  left: 60px;
}

#mask_vis {
  position: absolute;
  top: -22px;
  left: 80px;
}

#amin {
  position: absolute;
  top: -22px;
  left: 80px;
}

#amax {
  top: -22px;
  left: 100px;
}

.segment-panel .segment-setting {
  font-size: 11px;
  left: 0;
  position: absolute;
  height: 20px;
  width: 250px;
  background: white;
  border: 1px solid black;
}

#owrap {
  top: -43px;
}

#twrap {
  top: -63px;
}

#minwrap {
  top: -83px;
}

#maxwrap {
  top: -103px;
}

.segment-panel .segment-count {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  top: -22px;
  left: 100px;
  position: absolute;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  height: 17px;
  width: 146px;
  background: white;
  border: 1px solid black;
}

.segment-panel .segment-count label {
  font-size: 12px;
  font-weight: bold;
}

.segment-panel .segment-processing {
  display: none;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  top: -22px;
  left: 232px;
  position: absolute;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  height: 17px;
  width: 120px;
  background: white;
  border: 1px solid black;
}

.blink_me {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.segment-panel .segment-setting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.segment-panel .src, .segment-panel .out, #mask {
  width: 100%;
  height: 100%;
}

.segment-panel .src {
  display: none;
}

.segment-panel #c2s {
  display: none;
}

.segment-panel .hiddenCanvas {
  display: none;
}

.segment-panel label {
  vertical-align: middle;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.annotation{
  width:200px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
.annotation *{
  padding: 1px 1px 1px 5px !important;
  display:flex;
  background-color:white;
}
.annotation textarea{
  width:150px;
  height:15px;
  word-wrap: break-word;
  word-break: break-all;
}

#csvDLB {
  display: none;
}
