/*segmentpanel.css*/
.segment-panel {
  box-sizing: border-box;
  position: absolute;
  border: 1px yellow solid;
  color:black;
  cursor: default;
  z-index:300;
  /*border:2px red solid;*/
}

.segment-panel .settings {
  font-size: 19px;
  position: absolute;
  border: 1px solid black;
  background: white;
}

#close {
  top: -22px;
  left: 0;
}

#save {
  top:-22px;
  left:20px;
}

#savecsv {
  top: -22px;
  left: 40px;
}

#thresh {
  top: -22px;
  left: 60px;
}

#amin {
  top: -22px;
  left: 80px;
}

#amax {
  top: -22px;
  left: 100px;
}

.segment-panel .segment-setting {
  font-size: 11px;
  top: -43px;
  left: 0;
  position: absolute;
  height: 20px;
  width: 230px;
  background: white;
  border: 1px solid black;
}


.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.segment-panel .segment-count {
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  top: -22px;
  left: 120px;
  position: absolute;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  height: 15px;
  width: 150px;
  background: white;
  border: 1px solid black;
}

.segment-panel .segment-setting {
    display: flex;
}

.segment-panel .src, .segment-panel .out {
  width: 100%;
  height: 100%;
}

.segment-panel .src {
  display: none;
}

.segment-panel #c2s {
  display: none;
}

.segment-panel .hiddenCanvas {
  display: none;
}

.segment-panel label {
  vertical-align: middle;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

#csvDLB {
  display: none;
}



