/* カードのコンテナ */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

/* 各カード */
.card {
    background-color: #f8f9fa;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

/* 拡大ボタン */
.expand-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f8f9fa;
    color: #515555;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.expand-btn:hover {
    background-color: #a0a0a0;
}

/* カード内のタイトルを左揃えにする */
.card h3 {
    text-align: left;
    margin-top: 0;
}

.card-expand-icon {
    color: #515555;  
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  