/*menu.css*/
.draw-menu-wrap {
  display:flex;
  visibility: hidden;
/*  top:200px;
  left:200px;*/
  background:yellow;
  position:absolute;
  transition-property: all;
  transition-duration: .2s;
}

/*.draw-menu-wrap.expanded {
width:124px;
height:102px;
}*/
.draw-menu-wrap .flag {
	display:none;
}
.draw-menu-wrap .icons {

  box-sizing:border-box;
  font-size:20px;
  width:24px;
  height:24px;
  border-width:2px;
  border-style:solid;
  border-radius:5px;
  border-color: rgb(54,95,156);
  color:rgb(54,95,156);
  background-color:rgb(255,255,255);
}



.draw-menu-wrap .color,
.draw-menu-wrap .style,
.draw-menu-wrap .clear {
  position:absolute;
  /* display:none; */
}

/* color */
.draw-menu-wrap .color div {
  width:24px;
  height:24px;
}

/* style */
.draw-menu-wrap .style {
  position:absolute;
}


.draw-menu-wrap .color, 
.draw-menu-wrap .clear,
.draw-menu-wrap .style {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transform: rotateZ(90deg);
  font-size: 1em;
  color: #fff;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction:row;
}

.flag:checked ~ .color,
.flag:checked ~ .clear,
.flag:checked ~ .style  {
  opacity: 1;
}
/* list */
.flag:checked ~ .style.list {
  transform:translateY(6px);
}

.flag:checked ~ .color.list {
  transform: translateY(32px);
  transition-delay: .05s;
}

.flag:checked ~ .clear.list {
  transform: translateY(58px);
  transition-delay: .15s;
}

/* popup */
.flag:checked ~ .style {
  transform:translateX(-12px) translateY(-38px);
}

.flag:checked ~ .color {
  transform: translateX(12px) translateY(-12px);
  transition-delay: .05s;
}

.flag:checked ~ .clear {
  transform: translateX(-12px) translateY(14px);
  transition-delay: .15s;
}
/* global focus */

.draw-menu-wrap .style,
.draw-menu-wrap .style * {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.draw-menu-wrap .color,
.draw-menu-wrap .clear,
.draw-menu-wrap .style {

  border-radius: 5px;
 box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.3);
}

.draw-menu-wrap .style {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 24px;
  height: 24px;
  border:2px solid rgb(54,95,156);
  background: white;
  overflow: hidden;
  -webkit-transition: all 70ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-user-drag:element;
}

.style:hover {
  width: 44px;
  height: 24px;
}

.style li.active {
  opacity: 1;
  order: -1;
/*  -webkit-animation: splat 900ms linear both;*/
  border: 0;
  outline: 0;
  box-shadow: none;
}
.style li.active a {

  color:rgb(255,255,255);
  background-color:rgb(54,95,156);
}
.style li,
.style li a {
  font-size:20px;
  color:rgb(54,95,156);
  display: block;
  text-align: center;
}



